@tailwind base;
@tailwind components;
@tailwind utilities;

.dataTables_paginate {
    margin-top: 20px;
}

.dataTables_paginate .paginate_button {
    padding: 8px 14px !important;
    margin: 0 4px;
    border-radius: 1px;
    border: none !important;
    background: #f3f4f6 !important;
    color: #374151 !important;
    cursor: pointer;
    transition: 0.2s;
}

.dataTables_paginate .paginate_button:hover {
    background: #199db7 !important;
    color: white !important;
}

.dataTables_paginate .paginate_button.current {
    background: #199db7 !important;
    color: white !important;
}

.dataTables_paginate .paginate_button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
